@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@font-face {
  font-family: 'Adlinnaka-BoldDemo';
  src: url('./fonts/Adlinnaka-BoldDemo.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
.Adlinnaka {
  font-family: "Adlinnaka-BoldDemo", serif;
  font-style: normal;
}

body, html {
    font-family: 'Manrope', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    color: #444;
}
.fw-light {
    font-weight: 300 !important;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.playfairText{
  font-family: "Playfair Display", serif;
  font-style: normal;
}

.themeText{
  color: #111F61;
}
.yellowText{
  color: #ffcc00;
}
.blueBg{
  background-color: #111F61;
}
.lightBlueBg{
  background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6{
  color: #222;
}
.whiteBg{
  background-color: #fff;
}
.op-50{
  opacity: 50%;
}

.bigFont{
  font-size: 64px;
}
.greyText{
  color: #999;
}

.width-50{
  width: 50% !important;
  margin: 0 auto;
}
.width-75{
  width: 75% !important;
  margin: 0 auto;
}

.gearIcon{
    position: relative;
    padding-left: 30px;
}
.gearIcon::before {
    content: '';    
    position: absolute;
    left: 5px;
    top: 50%;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    background: url("/assets/image/gearImg.png") no-repeat center;
    background-size: contain;
}
.gearIcon2{
    position: relative;
    padding-left: 30px;
}
.gearIcon2::before {
    content: '';    
    position: absolute;
    left: 5px;
    top: 50%;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    background: url("/assets/image/gearImg2.png") no-repeat center;
    background-size: contain;
}

.blueBtn{
    background-color: #111F61;
    color: #fff;
    font-size: 13px;
    border-radius: 8px;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
}
.arrowBtn {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 12px 24px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.arrowBtn span {
    font-size: 16px;
}


.testimonial-slider .splide__pagination button {
    background-color: #0c867ec1;
    width: 12px;
    height: 12px;
    margin: 0;
    border: 1px solid #fff;
}
.testimonial-slider .splide__pagination button.is-active {
    background-color: #0C867D;
    border: 1px solid #fff;
    opacity: 1;
    width: 15px;
    height: 15px;
    transform: none;
}
.testimonial-slider .splide__pagination {
    position: relative;
    margin: 40px 0;
}

.testimonial-slider .splide__pagination {
    gap: 3px;
}
.testimonial-slider .splide__arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.testimonial-slider .splide__arrows.splide__arrows--ltr .splide__arrow {
    width: 35px;
    height: 35px;
    background-color: #111F61;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    pointer-events: all;
}
.testimonial-slider .splide__arrows.splide__arrows--ltr .splide__arrow:hover {
    background-color: #0e194f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}
.testimonial-slider .splide__arrows.splide__arrows--ltr .splide__arrow svg {
    display: none;
}
.testimonial-slider .splide__arrows.splide__arrows--ltr .splide__arrow::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/assets/image/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.testimonial-slider .splide__arrows.splide__arrows--ltr .splide__arrow--prev::after {
    transform: rotate(0deg);
}
.testimonial-slider .splide__arrows.splide__arrows--ltr .splide__arrow--next::after {
    transform: rotate(180deg);
}
.testimonial-slider .splide__arrow--prev {
    top: 40%;
    left: -40px;
    transform: translateY(-50%);
    z-index: 10;
}
.testimonial-slider .splide__arrow--next {
    top: 40%;
    right: -40px;
    transform: translateY(-50%);
    z-index: 10;
}

/* tab styles */

.tab-pane.fade {
  opacity: 0;
}
.tab-pane.fade.show {
  opacity: 1;
  transition: all 0.3s;
}
.tab-pane:not(.show) {
  visibility: hidden;
}
.tab-pane.active.show {
  visibility: visible;
  transition: all 0.3s;
}

/* tab styles */

@media only screen and (max-width:1440px) {
    .bigFont{
      font-size: 60px;
    }
}
@media only screen and (max-width:1280px) {
    
}
@media only screen and (max-width:1080px) {
    .bigFont{
    font-size: 50px;
  }
  .width-50{
    width: 75% !important;
  }
  .width-75{
    width: 100% !important;
  }
}
@media only screen and (max-width: 830px) {
    .bigFont{
      font-size: 46px;
    }
    .tabHide{
      display: none;
    }
}
@media only screen and (max-width:578px) {
    .bigFont{
      font-size: 40px;
    }
    .width-50{
      width: 100% !important;
    }
    .testimonial-slider .splide__arrow--prev {
        left: 0px !important;
    }
    .testimonial-slider .splide__arrow--next {
        right: -5px !important;
    }
}
.serviceSlider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: #202227;
  }

  .serviceSlider .slider {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
  }

  .serviceSlider .item {
    display: flex;
    align-items: center;
    width: var(--width);
    height: calc(var(--width) * 1.5);
    position: absolute;
    z-index: 1;
    border-radius: 0.25rem;
    box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 1);
    transition: left var(--speed), width var(--speed), height var(--speed), border-radius var(--speed), opacity var(--speed);
    transition-timing-function: ease-out;
    transform-origin: center;
    overflow: hidden;
    will-change: transform, opacity;
    border-radius: 30px;
    border: 3px solid #fff;
  }

  .serviceSlider .item::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
    box-shadow: 0px 0px 50px 25px rgba(0, 0, 0, 0.25) inset;
    transition: box-shadow var(--speed);
    will-change: transform, opacity;
  }

  .serviceSlider .item img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .serviceSlider .item:nth-child(1),
  .serviceSlider .item:nth-child(2) {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: none !important;
    opacity: 1;
    filter: blur(0);
  }

  .serviceSlider .item:nth-child(1)::after,
  .serviceSlider .item:nth-child(2)::after {
    box-shadow: 0px -50px 150px 50px rgba(0, 0, 0, 0.75) inset;
  }

  .serviceSlider .item:nth-child(3) {
    left: 50%;
    height: calc(var(--width) * 2);
    bottom: 10%;
  }

  .serviceSlider .item:nth-child(4) {
    left: calc(50% + var(--width) + var(--gap));
    transition-delay: calc(var(--speed) * 0.2);
    border: none !important;
    width: 20% !important;
    bottom: 10%;
  }

  .serviceSlider .item:nth-child(5) {
    left: calc(50% + calc(var(--width) * 2) + calc(var(--gap) * 2));
    transition-delay: calc(var(--speed) * 0.4);
    bottom: 10%;
  }

  .serviceSlider .item:nth-child(6) {
    left: calc(50% + calc(var(--width) * 3) + calc(var(--gap) * 3));
    opacity: 0;
    transition-delay: calc(var(--speed) * 0.6);
  }

  .serviceSlider .content {
    width: min(30vw, 400px);
    position: absolute;
    left: 3rem;
    z-index: 1;
    transform: translateY(25%);
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
    opacity: 0;
    display: none;
    flex-direction: column;
    gap: 1rem;
    outline: 0;
  }

  .serviceSlider .content * {
    outline: 0;
  }

  .serviceSlider .content .title {
    font-weight: 600;
  }

  .serviceSlider .content .description {
    line-height: 1.7;
  }

  .serviceSlider .content button {
    width: fit-content;
    background-color: #0c8ce8;
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background var(--speed), color var(--speed);
  }

  .serviceSlider .content button:hover {
    background-color: #fff;
    color: #0c8ce8;
  }

  .serviceSlider .item:nth-of-type(2) .content {
    display: flex;
    animation: show var(--speed) ease-in-out calc(var(--speed) / 2) forwards;
  }

  @keyframes show {
    0% {
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  .serviceSlider .nav {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: 2rem;
    right: 2%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
    border-radius: 100vw;
    padding: 0.25rem;
  }

  .serviceSlider .nav .btn {
    background-color: transparent;
    color: #fff;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background var(--speed), color var(--speed);
    border: 2px solid #fff;
  }

  .serviceSlider .nav .btn:hover {
    background-color: #fff;
    color: #444;
  }

  @media (width > 650px) and (width < 900px) {
    .serviceSlider .content .title {
      font-size: 1rem;
    }

    .serviceSlider .content .description {
      font-size: 0.7rem;
    }

    .serviceSlider .content button {
      font-size: 0.7rem;
    }

    .serviceSlider .item {
      width: 25%;
      height: 26%;
    }

    .serviceSlider .item:nth-child(3) {
      left: 50%;
      height: calc(var(--width) * 1.4);
    }

    .serviceSlider .item:nth-child(4) {
      left: calc(50% + 28%);
    }

    .serviceSlider .item:nth-child(5) {
      left: calc(50% + 60%);
    }

    .serviceSlider .item:nth-child(6) {
      left: calc(50% + 80%);
      opacity: 0;
    }
  }

  @media (width < 650px) {
    .serviceSlider .content {
      width: 90%;
      top: 20%;
    }

    .serviceSlider .content .title {
      font-size: 0.9rem;
    }

    .serviceSlider .content .description {
      font-size: 0.75rem;
    }

    .serviceSlider .content button {
      font-size: 0.7rem;
    }

    .serviceSlider .item {
      width: 45%;
      height: 34%;
    }

    .serviceSlider .item:nth-child(3) {
      left: 15%;
      height: calc(var(--width) * 1);
    }

    .serviceSlider .item:nth-child(4) {
      left: calc(50% + 15%);
      width: 30% !important;
      height: 17%;
    }

    .serviceSlider .item:nth-child(5) {
      left: calc(50% + 280px);
    }

    .serviceSlider .item:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
